body {
  font-family: "Roboto Mono", monospace;
  text-align: center;
  background-image: url("/imagens/background-akatsuki.jpg");
  background-color: #000000;
  background-size: cover;
  background-position: center top;
  background-repeat: no-repeat;
}

.page-title {
  color: #ffffff;
  margin: 0 0 5px;
}
img {
  max-height: 200px;
}
a {
  text-decoration: none;
  color: white;
}
.card {
  float: left;
  background-color: #111111;
  margin-left: 10px;
  border-radius: 1rem;;
}
