body {
  font-family: "Roboto Mono", monospace;
  text-align: center;
  background-image: url("/imagens/background-akatsuki.jpg");
  background-color: #000000;
  background-size: cover;
  background-position: center top;
  background-repeat: no-repeat;
}
.container{
  margin: 0.5rem;
  padding: .8rem;
}

.page-title {
  color: #ffffff;
  margin: 0 0 5px;
}
img {
  max-height: 200px;
}
a {
  text-decoration: none;
  color: white;
}
.card {
  float: left;
  background-color: #111111;
  margin-left: 10px;
  border-radius: 1rem;
  margin: 2rem;
  padding: .5rem;
}
.mangaspace{
  display: grid;
  grid-template-columns: 1fr;
  list-style: none;
  padding: 0;
  margin: 0;
}

@media screen and (min-width: 992px) {
  .mangaspace {
      max-width: 992px;
      height: auto;
      margin: 1rem auto;
      border-radius: 1rem;
  }
}

@media screen and (min-width: 380px) {
  .mangaspace {
      grid-template-columns: 1fr 1fr;
  }
}

@media screen and (min-width: 576px) {
  .mangaspace {
      grid-template-columns: 1fr 1fr 1fr;
  }
}

@media screen and (min-width: 992px) {
  .mangaspace {
      grid-template-columns: 1fr 1fr 1fr 1fr;
  }
}